html,
body {
	width:100%;
	height:100%;
}
body{
	font-family: "Helvetica Neue","Source Sans Pro";

}
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(http://i.imgur.com/K578SYG.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.text-vertical-center{
	 display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vertical-center h1{
	color:#fff;
	margin: 0;
    padding: 0;
    font-size: 10em;

    font-weight: 700;
}
.fb-like{
	color:#fff;
}
#age {
	font-size:2em;
	padding:10px;

}
footer {
    color: #6B0000;
}

footer h3 {
    margin-bottom: 10px;
    font-family:"Lato";
    font-weight:400;
}


footer .footer-above {
    padding-top: 40px;
    background-color: #fff;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #6B0000;
    color:#fff;
}
@media only screen and (max-device-width: 680px) {
	.text-vertical-center h1{
	color:#fff;
	margin: 0;
    padding: 0;
    font-size: 4.75em;

    font-weight: 700;
	}
}