html,

body {
	width:100%;
	height:100%;
}
body{
	font-family: "Helvetica Neue",'Nexa Bold',"Source Sans Pro";

}

svg{
  width: 600px;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
}
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(https://i.imgur.com/K578SYG.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
header h1{
	font-family:'Helvetica Neue';

}
.text-vertical-center{
	 display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vertical-center h1{
	color:#fff;
	margin: 0;
    padding: 0;
    font-size: 10em;

    font-weight: 700;
}
.fb-like{
	color:#fff;
}
#age {
	font-size:2em;
	padding:10px;
}
#status{
	font-size:1em;
	font-family:'Helvetica Neue';
	font-weight: 300;
	padding:10px;
}
#shareButton{
	background-color: #53748C;
	border-color:#53748C;

}
#shareButton:hover {
	background-color: #586A75;
	border-color : #586A75;
}
#twitter{
	background-color: #00aced;
	border-color: #00aced;
}

#twitterButton{
	background-color: #00aced;
	border-color: #fff;
}

@font-face{
	font-family:'Klavika Bold Opentype';
	font-weight:bold;
	src:url('ufonts.com_klavika-bold-opentype.otf') format("opentype");
}
.collection{
	padding:10px;
	font-family:'Klavika Bold Opentype';
}
.thumbnail .caption{
	text-align:center;
}
@font-face{
	font-family:'Nexa Bold';
	font-weight:bold;
	src:url('nexa/Nexa Bold.otf') format("opentype");
}
#elsewhere{
	width: 100%;
	height:100%;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding:10px;
}
h1{
	font-weight:700;
	font-family:'Raleway';
	font-size:15em;
}
#elsewhere a {
	font-weight:100;

}
p{
	font-family:'Nexa Bold';
}

footer {
    color: #6B0000;
}
strong{
	font-size:1em;
	font-family:'Helvetica Neue';
	font-weight:200;
}
footer h3 {
    margin-bottom: 10px;
    font-family:"Lato";
    font-weight:400;
}
footer a{
	color: #fff;
	font-family:'Nexa Bold';
}
footer a:hover{
	outline : 0;
	color:#000000;
}

footer .footer-above {
    padding-top: 40px;
    background-color: #fff;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #6B0000;
    color:#fff;
}
@media only screen and (max-device-width: 680px) {
	.text-vertical-center h1{
		font-family:'Helvetica Neue';
	color:#fff;
	margin: 0;
    padding: 0;
    font-size: 4.75em;

    font-weight: 700;
	}
	h1{
		font-size: 5em;
	}
}